<section class="category">
  <h1 class="page-title category-title">Редактирование категории доходов</h1>
  <div class="category-block">
    <input type="text" placeholder="Название...">
    <div class="category-block-buttons">
      <div class="category-button-create">
        <button type="button" class="btn btn-block btn-success">Сохранить</button>
      </div>
      <div class="popup-button-cancel">
        <button type="button" class="btn btn-block btn-danger">Отменить</button>
      </div>
    </div>
  </div>
</section>