<section class="category">
    <h1 class="page-title category-title">Создание категории доходов</h1>
    <div class="category-block">
        <input type="text" placeholder="Название..." id="newCategoryInput">
        <div class="error-message" id="newCategoryError"></div>
        <div class="category-block-buttons">
            <div class="category-button-create" id="createBtn">
                <button type="button" class="btn btn-block btn-success">Создать</button>
            </div>
            <div class="popup-button-cancel" id="cancelBtn">
                <button type="button" class="btn btn-block btn-danger">Отменить</button>
            </div>
        </div>
    </div>
</section>