<div class="popup">
    <div class="popup-block">
        <div class="popup-text">
            Вы действительно хотите удалить категорию? Связанные доходы будут удалены навсегда.
        </div>
        <div class="popup-buttons">
            <div class="popup-button-delete">
                <button type="button" class="btn btn-block btn-success">Да, удалить</button>
            </div>
            <div class="popup-button-nodelete">
                <button type="button" class="btn btn-block btn-danger">Не удалять</button>
            </div>
        </div>
    </div>
</div>

<section class="income">
    <h1 class="page-title income-page-title">Доходы</h1>
    <div class="income-blocks">
        <div class="income-block">
            <div class="income-title">
                Депозиты
            </div>
            <div class="income-buttons">
                <div class="income-button-edit">
                    <button type="button" class="btn btn-block btn-primary">Редактировать</button>
                </div>
                <div class="income-button-delete">
                    <button type="button" class="btn btn-block btn-danger">Удалить</button>
                </div>
            </div>
        </div>
        <div class="income-block">
            <div class="income-title">
                Зарплата
            </div>
            <div class="income-buttons">
                <div class="income-button-edit">
                    <button type="button" class="btn btn-block btn-primary">Редактировать</button>
                </div>
                <div class="income-button-delete">
                    <button type="button" class="btn btn-block btn-danger">Удалить</button>
                </div>
            </div>
        </div>
        <div class="income-block">
            <div class="income-title">
                Сбережения
            </div>
            <div class="income-buttons">
                <div class="income-button-edit">
                    <button type="button" class="btn btn-block btn-primary">Редактировать</button>
                </div>
                <div class="income-button-delete">
                    <button type="button" class="btn btn-block btn-danger">Удалить</button>
                </div>
            </div>
        </div>
        <div class="income-block">
            <div class="income-title">
                Инвестиции
            </div>
            <div class="income-buttons">
                <div class="income-button-edit">
                    <button type="button" class="btn btn-block btn-primary">Редактировать</button>
                </div>
                <div class="income-button-delete">
                    <button type="button" class="btn btn-block btn-danger">Удалить</button>
                </div>
            </div>
        </div>
        <div class="income-block income-block-new">
            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.5469 6.08984V9.05664H0.902344V6.08984H14.5469ZM9.32422 0.511719V15.0039H6.13867V0.511719H9.32422Z" fill="#CED4DA"/>
            </svg>
        </div>
    </div>
</section>