.income-expense {
    padding-top: 100px;
    padding-left: 275px;
}

.income-expense-page-title {
    margin-bottom: 40px;
}

.category-block-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.btn-group .btn.active {
    background-color: #6C757D;
    color: white;
    border-color: #6C757D;
}

.btn-group {
    font-size: 16px;
    font-weight: 500;
    align-items: baseline;
}

.btn-group .btn {
    background-color: white;
    color: #6C757D;
    border-color: #6C757D;
    width: 100px;
    height: 37px;
    margin-bottom: 40px;
}

.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    padding: 6px 18px;
    border-radius: 4px;
}


.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #6C757D;
    color: white;
    border-color: #6C757D;
    padding: 6px 18px;
    border-radius: 4px;
}

.btn-group .btn {
    margin-right: 10px;
}

.btn-group>.btn-group:not(:first-child), .btn-group>.btn:not(:first-child) {
    margin-left: 10px;
}

.btn-group .btn:first-child {
    margin-left: 0;
}

.btn-group span {
    color: #000000;
}

.date-group {
    display: flex;
    align-items: center;
}

.date-group span {
    margin-right: 10px;
    color: black;
}

.date-group input {
    border: none;
    border-bottom: 1px solid #6C757D;
    background: none;
    text-align: center;
    font-size: 16px;
    color: #6C757D;
    padding: 0;
    width: 60px;
}

.date-group input::placeholder {
    color: #6C757D;
}

.date-group input:focus {
    outline: none;
}

.row {
    width: 1100px;
}

.card {
    box-shadow: 0 -1px #DEE2E6;
}

.table thead th {
    border-bottom: none;
}
